<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SimbirsoftTask.Model.Properties.Settings.SimbirsoftTaskConnectionString"
            connectionString="Data Source=АЛЬБЕРТ-ПК\MSSQLEXPRESS;Initial Catalog=SimbirsoftTask;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>